<a href="https://colab.research.google.com/github/FiyinfobaO/Hamoye/blob/master/quiz%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)
print(df.head(10))

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
5  2016-01-11 17:50:00          50      40  ...   4.800000  44.919484  44.919484
6  2016-01-11 18:00:00          60      50  ...   4.700000  47.233763  47.233763
7  2016-01-11 18:10:00          60      50  ...   4.683333  33.039890  33.039890
8  2016-01-11 18:20:00          60      40  ...   4.666667  31.455702  31.455702
9  2016-01-11 18:30:00          70      40  ...   4.650000   3.089314   3.089314

[10 rows x 29 columns]

In [3]:
# dropping date and light columns
df.drop(['date', 'lights'], axis=1, inplace=True)
print(df.head(10))

   Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1          60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2          50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3          50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4          60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
5          50  19.890000  46.026667  ...   4.800000  44.919484  44.919484
6          60  19.890000  45.766667  ...   4.700000  47.233763  47.233763
7          60  19.856667  45.560000  ...   4.683333  33.039890  33.039890
8          60  19.790000  45.597500  ...   4.666667  31.455702  31.455702
9          70  19.856667  46.090000  ...   4.650000   3.089314   3.089314

[10 rows x 27 columns]

In [4]:
# to know if there are null values in the data
print('total no of null values = ', df.isnull().values.sum())

total no of null values =  0

In [5]:
# normalise the dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
norm_df = pd.DataFrame(mms.fit_transform(df), columns=df.columns)
print(norm_df.head(10))

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611
5    0.037383  0.32735  0.522980  ...   0.515837  0.898441  0.898441
6    0.046729  0.32735  0.515824  ...   0.511312  0.944735  0.944735
7    0.046729  0.32383  0.510137  ...   0.510558  0.660808  0.660808
8    0.046729  0.31679  0.511169  ...   0.509804  0.629118  0.629118
9    0.056075  0.32383  0.524723  ...   0.509050  0.061691  0.061691

[10 rows x 27 columns]

In [7]:
# FOR THE LINEAR MODEL
# get the features
X_lin = norm_df['T2'].values
# get the labels
y_lin = norm_df['T6'].values

# to split the data
from sklearn.model_selection import train_test_split
X_lintrain, X_lintest, y_lintrain, y_lintest = train_test_split(X_lin, y_lin, test_size=0.3, random_state=42)
X_lintrain = X_lintrain.reshape(-1, 1)
y_lintrain = y_lintrain.reshape(-1, 1)

# to create the model
from sklearn.linear_model import LinearRegression
reg_lin = LinearRegression()
# fit the model to train data
reg_lin.fit(X_lintrain, y_lintrain)
# to predict test values
X_lintest = X_lintest.reshape(-1, 1)
y_linpred = reg_lin.predict(X_lintest)

In [8]:
# R-SQUARED for the linear model
from sklearn.metrics import r2_score
r2_score = r2_score(y_lintest, y_linpred)
round(r2_score, 2) # rounds the r-square value to 2 dp

0.64

In [9]:
# FOR THE MULTIPLE LINEAR MODEL
# to get the features, X
X = norm_df.drop('Appliances', axis=1).values
# to get label/target variable, y
y = norm_df['Appliances'].values

# to split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# to create the model
reg = LinearRegression()
# fit the model to train data
reg.fit(X_train, y_train)
# to predict test values
y_pred = reg.predict(X_test)

In [10]:
#MAE 
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
round(mae, 2) # rounds the mae value to 2 dp

0.05

In [11]:
# RSS
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2) # rounds the rss value to 2 dp

45.35

In [12]:
# Root Mean Squared Error(RMSE) 
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3) # rounds the rmse value to 3 dp

0.088

In [13]:
# R-SQUARED(COEFFICIENT OF DETERMINATION)
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred)
round(r2_score, 2) # rounds the r-square value to 2 dp

0.15

In [14]:
# LASSO REGRESSION (LI REGULARIZATION)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

# RIDGE REGRESSION (L2 REGULARIZATION)
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

# this function returns the weight of every feature
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, norm_df.drop('Appliances', axis=1).columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

# comparing the effects of regularisation
linear_model_weights = get_weights_df(reg, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv2             0.000770      0.000748     -0.000000
11          rv1             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [15]:
# to determine the rmse using the ridge regression
# to predict test values
y_pred_ridge = ridge_reg.predict(X_test)
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
print(round(rmse_ridge, 3))

0.088

In [16]:
# to determine the rmse using the lasso regression
# to predict test values
y_pred_lasso = lasso_reg.predict(X_test)
rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred_lasso))
print(round(rmse_lasso, 3))

0.094